* {
    margin: 0;
    padding: 0;
}

.main-content {
background-image: url(../img/Venado.jpg);
width: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

.login-box {
    width: 350px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.552);
    border-radius: 12px;
   
    

}
.icon-box {
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.725);
    border-radius: 50%;
    position: relative;
    top: -65px;
    left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-user {
    color: white;
    font-size: 4em;
}


.icon-style {
 width: 40px;
 height: 40px;
}

@media only screen and (max-width: 600px) {
    .main-content {
        background-image: url("../img/tower.jpg");
        background-size: cover;
        background-position: center right;
    }
    
}

.form-title{
    width: 90%;
    display: flex;-
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h4{
    height: 8px;
    color: rgb(10, 10, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boton{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    flex-wrap: wrap;
}
