body{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    background-size: contain;

}

.box-main{
   background-image: url(../img/Venado.jpg);
   background-size:cover;
   width: 100%;
   height: 100vh;
   background-repeat: no-repeat;

}


.nav.fijo {
    position: fixed;
    top: 20px;
    font-size: 1.9em;
    width: 100%;
    height: 50px;

}

ul {
   position: absolute;
   width: 100%;
   text-align: right;
   right: 60px;

}

li {
    display: inline-block;
    margin-left: 30px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}