* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.page-viewport{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-content{
    width: 90%;
}
header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-header {
    margin-top: 50px;
    width: 100%;
    height: 140px;
    display: grid;
    grid-template: "main-logo main-menu" 110px /
                    180px     1fr;
    

}
.main-logo {
    grid-area: main-logo;
    margin-right: 30px;
    background-color: #77F7E8;
}
.main-menu {
    grid-area: main-menu;
    width: 100%;
    height: 110px;
    background-color: #C2F9F2;
}
.box-img-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-principal {
    margin-top: 30px;
    width: 100%;
    height: 600px;
    background-color: rgb(10, 146, 164);
}
.articulos{
    display: grid;
    grid-template: "article-1 article-2 article-3" /
                    1fr       1fr       1fr
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 350px;
    height: 250px;
    background-color: #3A7871;
    margin: 15px 0;
}
.titulo-img{
    width: 350px;
    height: 80px;
    background-color: #5D7875;
    margin: 15px 0;
}
.texto-img{
    width: 350px;
    height: 300px;
    background-color: #5EC4B8;
    margin: 15px 0;
}




.txt-span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6em;
    font-family: Helvetica, sans-serif;
}